.header-logo {
  margin-top: 50px;
  padding-left: 50px;
}

.signup-container {
  width: 100%;
  height: 100%;
  gap: 32px;
  padding: 20px 70px;
}

.signup-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 12px;
  background-color: #fff;
}

.signup-content {
  padding: 50px;
  gap: 40px;
}

.signup- .signup-heading {
  gap: 16px;
}

.signup-heading h1 {
  color: #000;
}

.signup-heading p {
  margin-top: 20px;
  color: #000;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.signup-form {
  gap: 40px;
  margin-top: 20px;
}

.form-section {
  padding: 30px 16px;
  background-color: #fff;
  color: #40493d;
}

.form-section h2 {
  color: #0d631b;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.form-group label {
  color: #40493d;
}

.input-box {
  display: flex;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #d1d5db;
  background-color: #fff;
}

.input-box input {
  width: 100%;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  border-radius: 15px;
  padding: 34px 16px;
  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 12px;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  padding: 0 16px;
  padding: 34px 16px;
  background-color: #fff;
}

.signup-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px 16px;
  text-decoration: none;
  gap: 2px;
  color: #cbffc2;
  background-color: #2e7d32;
  cursor: pointer;
  transition: 0.3s ease;
}

/* TABLET */
@media (max-width: 768px) {
  .header-logo {
    margin-top: 30px;
    padding-left: 24px;
  }

  .signup-container {
    padding: 20px 24px;
  }

  .signup-content {
    padding: 32px 24px;
  }

  .signup-heading h1 {
    font-size: 32px;
  }

  .signup-heading p {
    font-size: 15px;
    line-height: 22px;
  }

  .form-section {
    padding: 24px 12px;
  }

  .signup-btn {
    padding: 18px;
    font-size: 16px;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .header-logo {
    margin-top: 20px;
    padding-left: 16px;
  }

  .signup-container {
    padding: 16px;
  }

  .signup-content {
    padding: 20px 16px;
  }

  .signup-heading h1 {
    font-size: 26px;
    line-height: 34px;
  }

  .signup-heading p {
    font-size: 14px;
    line-height: 22px;
  }

  .form-section {
    padding: 20px 0;
  }

  .form-section h2 {
    font-size: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .input-box input {
    height: 50px;
    font-size: 15px;
  }

  .signup-btn {
    width: 100%;
    padding: 16px;
    font-size: 15px;
  }
}
