.header {
  width: 100%;
}

.header-logo {
  margin-top: 50px;
  padding-left: 50px;
}

.signup-container {
  display: grid;
  grid-template-columns: repeat(2 2fr);
  margin-top: 35px;
  width: 100%;
  padding: 0 24px;
  height: 100%;
  gap: 32px;
}

.signup-card {
  padding: 48px;
}

.signup-heading {
  gap: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 32px;
}

.signup-heading h1 {
  display: grid;
  gap: 52px;
  font-weight: 700;
  color: #000;
}

.signup-heading p {
  display: grid;
  gap: 32px;
  font-size: 16px;
  color: #40493d;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-weight: 400;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
  font-size: 14px;
  font-weight: 500;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 24px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
}

.form-column h2 {
  color: #0d631b;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 12px;

  border: 1px solid #d1d5db;
  border-radius: 12px;
  padding: 0 16px;
  border: none;
  background-color: #e6efe6;
}

.input-box input {
  border: none;
  outline: none;
  padding: 14px 0;
  background-color: #e6efe6;
}

.input-boxx {
  width: 21px;
  height: 34px;
}

.upload-input {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #191c1d;
}

.form-group input {
  width: 100%;
  padding: 24px 36px;
  color: #6b7280;
  background-color: #e6efe6;
  border-radius: 16px;
  font-size: 14px;
  outline: none;
}

.form-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.skills-list {
  border-radius: 16px;
  color: #6b7280;
}

.interest-tags button {
  border: none;
  padding: 16px 32px;
  border-radius: 9px;
  color: #191c1d;
}

.skills-list button {
  border: none;
  padding: 16px 32px;
  border-radius: 9px;
  color: #191c1d;
}

.upload-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 48px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: #e6efe6;
  color: #191c1d;
}

.terms {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  color: #40493d;
}

.terms label {
  padding-top: 26px;
}

.terms input {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.create-acct-btn {
  width: 50%;
  padding: 16px;
  border: none;
  border-radius: 15px;
  background-color: #2e7d32;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
